* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: norse;
    src: url(../Norse-Bold.otf);
}

.background-image {
    width: auto;
    height: 100vh;
}

.odin-header {
    display: flex;
    flex-direction: row;
    background-color:rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: norse;
    color: white;
    align-self: center;
}