* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
}

@font-face {
    font-family: norse;
    src: url(../Norse-Bold.otf);
}

.left-side {
    width: fit-content;
}

.background-image {
    width: auto;
    height: 100vh;
}

.odin-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: -83vh;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.odin-header > img {
    height: clamp(.5em, 15vh, 8rem);
}

h1 {
    font-family: norse;
    color: white;
    align-self: center;
    margin-top: 3%;
    font-size: clamp(.5em, 10vh, 8rem);
}

.photo-cred {
    display: flex;
    justify-content: center;
    margin-top: 36.5rem;
    color: white;
}

a:link, a:visited {
    color: white;
}