* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    line-height: 1;
}

body {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(245, 245, 245);
}

@font-face {
    font-family: norse;
    src: url(../Norse-Bold.otf);
}

/* LEFT SIDE */

.left-side {
    width: fit-content;
}

.background-image {
    width: auto;
    height: 100vh;
}

.odin-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: -75vh;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.odin-header > img {
    height: clamp(.5em, 15vh, 8rem);
}

h1 {
    font-family: norse;
    color: white;
    align-self: center;
    margin-top: 3%;
    font-size: clamp(.5em, 10vh, 8rem);
}

.photo-cred {
    display: flex;
    justify-content: center;
    font-size: clamp(.5em, 1.5vh, 8rem);
    color: white;
    margin-top: 80%;
}

a:link, a:visited {
    color: white;
}

/* RIGHT SIDE */

.top {
    padding: 12% 23% 7vh 3vw;
    font-size: clamp(.5em, 1.5vw, 8rem);
    width: clamp(200px, 100vw, 100%);
    text-align: left;
}

fieldset {
    background-color: white;
    border: none;
    display: grid;
    grid-template-areas: 
    "h2 h2";
    padding-left: 3vw;
    padding-bottom: 2vh;
    box-shadow: rgba(121, 121, 121, 0.45) 0px 15px 15px -15px;
    grid-column-gap: clamp(4%, 1vw, 1vh);
    padding-right: clamp(20px, 30%, 400px);
}

fieldset > div {
    width: min-content;
}

h2 {
    font-size: 2.7vh;
    font-weight: 500;
    padding: 2vh 0 2vh 0;
    grid-area: h2;
}

label, input {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.4vh;
    letter-spacing: .06vw;
    font-weight: 500;
    display: block;
}

.optional {
    margin-left: .3vw;
    font-size: 1.3vh;
}

input {
    width: 17vw;
    padding: .7vh 1vh;
    margin: .3vh 0 2.5vh 0;
    font-size: clamp(.5em, 1.7vh, 8rem);
    border-radius: 5px;
    border: solid 1px #E5E7EB;
}

::placeholder {
    font-size: clamp(.5em, 1.7vh, 8rem);
}

#password, #confirm-pswrd {
    margin-bottom: 0px;
}

.pswrd-criteria {
    font-size: clamp(5.3px, 1.6vh, 8rem);
    position: relative;
}

#right {
    height: 10px;
}

button {
    padding: 1.1% 4%;
    margin-left: 3vw;
    margin-top: 3%;
    border: none;
    border-radius: 7px;
    font-size: clamp(.5em, 2vh, 8rem);
    font-weight: 550;
    background-color: #4e8692;
    color: white;
}

button:hover {
    cursor: pointer;
}

.bottom {
    margin-left: 3vw;
    margin-top: 3%;
    font-size: clamp(.5em, 2vh, 8rem);
}

.log {
    color: #4e8692;
}

input:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    outline: none;
    border: solid 1px rgb(89 148 160);
    background-color: rgb(115 188 204 / 15%);
}

input:not(:placeholder-shown):optional:valid {
    border-color: #66d16e;
    background: url('./check-mark-svgrepo-com.svg') no-repeat 98% 50% #bceebf82;
    background-size: 20px;
}
  
input:required:not(#confirm-pswrd):valid {
    border-color: #66d16e;
    background: url('./check-mark-svgrepo-com.svg') no-repeat 98% 50% #bceebf82;
    background-size: 20px;
}

input:not(:placeholder-shown,:focus):invalid {
    background: url('./warning-sign-in-triangle-svgrepo-com.svg') no-repeat 98% 50% rgb(252 176 176 / 32%);
    background-size: 20px;
    border-color: red;
}

/* PASSWORD CRITERIA STYLING */

.valid {
    color: green;
}

.valid:before {
    position: absolute;
    left: 15em;
    content: "✔";
}

.invalid:before {
    position: absolute;
    left: 15em;
    content: "✖";
}

/* PASSWORD CONFIRMATION STYLING */

.pswrdInvalid {
    visibility: hidden;
}

.pswrdValid {
    visibility: visible;
    color: green;
    font-size: clamp(5.3px, 1.7vh, 8rem);
}

.confirmValid:focus, .confirmValid {
    border-color: #66d16e;
    background: url('./check-mark-svgrepo-com.svg') no-repeat 98% 50% #bceebf82;
    background-size: 20px;
}

/* PASSWORD-MATCH ERROR ALERT STYLING */

.no-error {
    visibility: hidden;
}

.error {
    visibility: visible;
    color: red;
    font-size: clamp(5.3px, 1.7vh, 8rem);
}